
.table-news-body{
    width: 50%;
    background-color: #1F1F1F;
    min-height: 100%;
}
.table-news-body td, .table-news-body th{
    
    text-align: center;
    color: #A2A2A2;
    font-size: 15px;
    height: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.table-news-body table{
    background-color: #262626;
    margin: 10px;
    width: 100%;
    margin: 0;
}